<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MapPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C614FE7B1CF7C57B00BC6A2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C614FE921CF7C57B00BC6A2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C614FE9D1CF7C57B00BC6A2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
